In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# تهيئة المدخلات

In [2]:

Mark_number=['“','؟','.','ّ','ُ','ً','َ','ِ','ٍ','~',',',':','،','!','(',')','{','}','/','’','ٌ','”','\'','\'','ِ','َ','0']
number=np.arange(0,10)
number=pd.Series(number)
number=number.apply(lambda x:str(x))
charactersA=['أ','آ','ى','إ','ء','ئ']
charactersT=['ة']
Dublicatecharcter=['اا','وو','بب','سس','شش','وو','عع','لل','كك','مم']

# تابع الحذف

In [3]:
def delete_Marks_numberc(wordd,Mark_number,character):
    for i in range(len(Mark_number)):
        wordd=wordd.replace(Mark_number[i],character)
    return wordd
def delete_stop_word(word,stopwords):
    for tword in stopwords:
        if(word==tword):
            word=''
    return word
def delet_word_stop(word,stopword):
    Axis=word.split(' ')
    Axis=pd.Series(Axis)
    Axis=Axis.apply(lambda x:delete_stop_word(x,stopword))
    Axis=' '.join(Axis)
    return Axis

# توابع المعالجة لل ٍstopword ,Review,Rating

In [4]:
def proccessstopword(stopword):
    stopword=delete_Marks_numberc(stopword,Mark_number,'')
    stopword=delete_Marks_numberc(stopword,Mark_number[3],'')
    stopword=delete_Marks_numberc(stopword,charactersA,'ا')
    stopword=delete_Marks_numberc(stopword,charactersT,'ه')
    stopword=delete_Marks_numberc(stopword,number,' ')
    #stopword=add_space_to_separate_word(stopword)#about 0.5 hour
    return stopword

def proccessReview(review):
        
        review=proccessstopword(review)
        review=delet_word_stop(review,stopwordsproccessed)#about 10 minute
        #review=delete_Marks_numberc(review,stopwordsproccessed,' ')about 0.5 hour
        return review
    
  
    
     
        #review=delete_Marks_numberc(review,stopwordsproccessed,'')
        #Result.append(word)

def proccessRating(Rating):
    word=''
    if(Rating==1):
          word='very_bad'
    elif(Rating==2):
        word='bad'
    elif(Rating==3):
        word='neutral'
    elif(Rating==4):
           word='good'
    elif(Rating==5):
        word='very_good'
    return word;

# قراءة الداتا من الملفات

In [5]:
hotel_inf=pd.read_csv("dataset.csv")
stopwords=pd.read_csv('stopwords.csv')
list_stopword=stopwords['stopwords']
list_review=hotel_inf['review']
list_rating=hotel_inf['rating']
hotel_inf.head()

,no,Hotel name,rating,user type,room type,nights,review
0,2,فندق 72,2,مسافر منفرد,غرفة ديلوكس مزدوجة أو توأم,أقمت ليلة واحدة,“ممتاز”. النظافة والطاقم متعاون.
1,3,فندق 72,5,زوج,غرفة ديلوكس مزدوجة أو توأم,أقمت ليلة واحدة,استثنائي. سهولة إنهاء المعاملة في الاستقبال. ل...
2,16,فندق 72,5,زوج,-,أقمت ليلتين,استثنائي. انصح بأختيار الاسويت و بالاخص غرفه ر...
3,20,فندق 72,1,زوج,غرفة قياسية مزدوجة,أقمت ليلة واحدة,“استغرب تقييم الفندق كخمس نجوم”. لا شي. يستحق ...
4,23,فندق 72,4,زوج,غرفة ديلوكس مزدوجة أو توأم,أقمت ليلتين,جيد. المكان جميل وهاديء. كل شي جيد ونظيف بس كا...

# معالجة ملف ال Stopword

In [6]:
stopwordsproccessed=list_stopword.apply(lambda x:proccessstopword(x)) 
stopwordsproccessed[561]

'لا'

# معالجة ال Review

In [7]:
ReviewProccessed=list_review.apply(lambda x:proccessReview(x))
ReviewProccessed

0                             ممتاز النظافه والطاقم متعاون
1            استثنااي سهوله انهاا المعامله  الاستقبال لاشيا
2         استثنااي انصح باختيار الاسويت  بالاخص غرفه رقم...
3           استغرب تقييم الفندق كخمس نجوم  شي يستحق   نجمه
4         جيد المكان جميل وهاديا  شي جيد ونظيف   حوض الس...
                                ...
105693    فند  شا عجبني طقم العمل سيا جدالا يوجد بالفندق...
105694    سيا قربه  المسجد النبوي الشريف استخدام موظف ال...
105695    اسوا اقامه  الرحله  القرب  الحرم  شيا ازعاج  ت...
105696                             المستوا قربه  الحرم  شيا
105697    مخيب للامل   التنسيق   معرفه الغرف  زوار  فارغ...
Name: review, Length: 105698, dtype: object

# معالجة ال Rating

In [698]:
Rating_proccessed=list_rating.apply(lambda x:proccessRating(x))
Rating_proccessed

0               bad
1         very_good
2         very_good
3          very_bad
4              good
            ...
105693     very_bad
105694          bad
105695          bad
105696          bad
105697          bad
Name: rating, Length: 105698, dtype: object

# تحويل البيانات المعالجة الى DataFram

In [699]:

ReviewProccessedasDataFrame=pd.DataFrame(ReviewProccessed)
Rating_proccessed_As_DataFrame=pd.DataFrame(Rating_proccessed)

# دمج بيانات Rewiew,Rating

In [700]:
Rating_and_Reviews=list(zip(Rating_proccessed,ReviewProccessed))

#  تهيئةالبيانات لتصديرها لملف csv

In [731]:
Rating_and_Reviews_As_DataFrame=pd.DataFrame(Rating_and_Reviews,columns=['Rating','Review'])
Rating_and_Reviews_As_DataFrame

           Rating                                             Review
0             bad                      ممتاز النظافه والطاقم متعاون
1       very_good     استثنااي سهوله انهاا المعامله  الاستقبال لاشيا
2       very_good  استثنااي انصح باختيار الاسويت  بالاخص غرفه رقم...
3        very_bad    استغرب تقييم الفندق كخمس نجوم  شي يستحق   نجمه
4            good  جيد المكان جميل وهاديا  شي جيد ونظيف   حوض الس...
...           ...                                                ...
105693   very_bad  فند  شا عجبني طقم العمل سيا جدالا يوجد بالفندق...
105694        bad  سيا قربه  المسجد النبوي الشريف استخدام موظف ال...
105695        bad  اسوا اقامه  الرحله  القرب  الحرم  شيا ازعاج  ت...
105696        bad                           المستوا قربه  الحرم  شيا
105697        bad  مخيب للامل   التنسيق   معرفه الغرف  زوار  فارغ...

[105698 rows x 2 columns]

# تصدير البيانات ل csv

In [737]:
Rating_and_Reviews_As_DataFrame.to_csv('DataProccessed.csv')

In [738]:
DataProccessed=pd.read_csv('DataProccessed.csv')
DataProccessed.head()

   Unnamed: 0     Rating                                             Review
0           0        bad                      ممتاز النظافه والطاقم متعاون
1           1  very_good     استثنااي سهوله انهاا المعامله  الاستقبال لاشيا
2           2  very_good  استثنااي انصح باختيار الاسويت  بالاخص غرفه رقم...
3           3   very_bad    استغرب تقييم الفندق كخمس نجوم  شي يستحق   نجمه
4           4       good  جيد المكان جميل وهاديا  شي جيد ونظيف   حوض الس...

In [751]:
word='khaled ammar ali'

In [755]:
word=word.replace('khaled ',' ')

In [756]:
word

' ammar ali'